@use 'var';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	margin: 0 auto;
	width: var.$responsive-breadkpoint-min;
}

.gamelist {
	& a {
		height: 64px;
	}

	&__item {
		display: flex;
		flex-direction: row;

		width: 50%;
		height: 64px;

		border: 1px solid #eee;

		&__img {
			width: 64px;
			height: 64px;
		}

		&__description{
			display: flex;
			flex-direction: row;

			justify-content: space-between;

			width: calc(100% - 64px);
			
			line-height: 64px;

			& p{
				margin: 0;
			}

			&__github {
				display: flex;
				justify-content: center;
				align-items: center;

				& .icon-tabler {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}